# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv
venv/
ENV/

# Data
data/raw/
#data/processed/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Models
#models/

# Logs
*.log
